## Preprocessing

In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0; platform_system == "Windows" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.51.1)
Requirement already satisfied: packaging in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (21.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1; platform_machine != "arm64" or platform_system != "Darwin" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.30.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.1.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.4.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.8.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (15.0.6.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (23.1.21)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.14.1)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.2.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.2)
Requirement already satisfied: six>=1.12.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.15.0)
Requirement already satisfied: numpy>=1.20 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.21.6)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.2.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.19.6)
Requirement already satisfied: setuptools in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (47.3.1.post20200622)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from packaging->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.4.7)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.34.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.27.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.16.0)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.2.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.3.1)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2022.12.7)
Requirement already satisfied: importlib-metadata>=4.4; python_version < "3.10" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.11.3)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (5.3.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.1.2)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.2.2)
Requirement already satisfied: zipp>=0.5 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata>=4.4; python_version < "3.10"->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.7.0)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.8)

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
vc = application_df['CLASSIFICATION'].value_counts()
vc[vc>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280',
 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238',
 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200',
 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900',
 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120',
 'C8210', 'C2561', 'C4500', 'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df)
print(application_dummies.columns)
application_dummies

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5712 - accuracy: 0.7223
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7298
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7297
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7313
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7311
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7316
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7325
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7340
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7326
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7348
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7339
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7341
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7345
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7353
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7352
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7353
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7346
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7353
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7358
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7368
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7361
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7361
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7359
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7362
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7366
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7361
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7354
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7370
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7355
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7373
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7364
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7371
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7365
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7371
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7370
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7367
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7377
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7379
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7377
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7374
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7380
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7379
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7380
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7375
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7374
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7387
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7389
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7395
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7384
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7373
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7382
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7394
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7383
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7380
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7385
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7387
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7388
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7380
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7387
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7392
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7388
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7403
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7399
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7397
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7390
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7401
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7388
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7394
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7398
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7383
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7393

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5595 - accuracy: 0.7296 - 481ms/epoch - 2ms/step
Loss: 0.5594606995582581, Accuracy: 0.7295626997947693

In [21]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")