## Preprocessing

In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0; platform_system == "Windows" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (23.1.21)
Requirement already satisfied: six>=1.12.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.15.0)
Requirement already satisfied: numpy>=1.20 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.21.6)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.14.1)
Requirement already satisfied: libclang>=13.0.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (15.0.6.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.6.3)
Requirement already satisfied: packaging in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (21.3)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.3.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.51.1)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.2.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1; platform_machine != "arm64" or platform_system != "Darwin" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.30.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.2)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.4.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.1.1)
Requirement already satisfied: setuptools in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (47.3.1.post20200622)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.19.6)
Requirement already satisfied: h5py>=2.9.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.8.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.34.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from packaging->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.4.7)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.16.0)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.2.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.27.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.6.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (5.3.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.1.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.3.1)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.0.12)
Requirement already satisfied: importlib-metadata>=4.4; python_version < "3.10" in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.11.3)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.2.2)
Requirement already satisfied: zipp>=0.5 in c:\users\erico\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata>=4.4; python_version < "3.10"->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.7.0)

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID column, 'EIN', but keep the 'NAME' column.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
# Look at NAME value counts for binning
#  YOUR CODE GOES HERE
name_valuecounts = application_df['NAME'].value_counts()
name_valuecounts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [7]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
#  YOUR CODE GOES HERE
names_to_replace = list(name_valuecounts[name_valuecounts<10].index)

# Replace in dataframe
for each in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(each,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
vc = application_df['CLASSIFICATION'].value_counts()
vc[vc>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(vc[vc < 1880].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df)
print(application_dummies.columns)
application_dummies

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL',
       'NAME_ACE MENTOR PROGRAM OF AMERICA INC', 'NAME_AIR FORCE ASSOCIATION',
       'NAME_ALABAMA FEDERATION OF WOMENS CLUBS',
       'NAME_ALABAMA TREASURE FOREST ASSOCIATION', 'NAME_ALPHA PHI SIGMA',
       'NAME_ALPHA PHI SIGMA INC', 'NAME_ALTRUSA INTERNATIONAL FOUNDATION INC',
       ...
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object', length=267)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  30
hidden_nodes_layer2 = 20
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                8010

 dense_1 (Dense)             (None, 20)                620

 dense_2 (Dense)             (None, 10)                210

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 8,851
Trainable params: 8,851
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.4830 - accuracy: 0.7655
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4452 - accuracy: 0.7839
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4409 - accuracy: 0.7851
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4377 - accuracy: 0.7879
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4366 - accuracy: 0.7884
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4348 - accuracy: 0.7892
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4343 - accuracy: 0.7899
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4337 - accuracy: 0.7900
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4323 - accuracy: 0.7913
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4319 - accuracy: 0.7902
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4314 - accuracy: 0.7917
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4310 - accuracy: 0.7920
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4306 - accuracy: 0.7916
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4296 - accuracy: 0.7922
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4300 - accuracy: 0.7923
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4289 - accuracy: 0.7918
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4284 - accuracy: 0.7921
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4281 - accuracy: 0.7934
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4273 - accuracy: 0.7919
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4272 - accuracy: 0.7933
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4275 - accuracy: 0.7926
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4266 - accuracy: 0.7936
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4263 - accuracy: 0.7947
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4259 - accuracy: 0.7941
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4256 - accuracy: 0.7938
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4250 - accuracy: 0.7942
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4248 - accuracy: 0.7948
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4243 - accuracy: 0.7938
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4242 - accuracy: 0.7940
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4243 - accuracy: 0.7947
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4241 - accuracy: 0.7956
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4239 - accuracy: 0.7940
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.7954
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4234 - accuracy: 0.7949
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4225 - accuracy: 0.7954
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4228 - accuracy: 0.7960
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4224 - accuracy: 0.7961
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4220 - accuracy: 0.7964
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4222 - accuracy: 0.7955
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4215 - accuracy: 0.7958
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4218 - accuracy: 0.7964
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4212 - accuracy: 0.7962
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4218 - accuracy: 0.7954
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4207 - accuracy: 0.7965
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4213 - accuracy: 0.7954
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4208 - accuracy: 0.7966
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4207 - accuracy: 0.7957
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4203 - accuracy: 0.7966
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4201 - accuracy: 0.7969
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4200 - accuracy: 0.7969
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4203 - accuracy: 0.7971
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4200 - accuracy: 0.7982
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4200 - accuracy: 0.7966
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4199 - accuracy: 0.7977
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4199 - accuracy: 0.7967
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.7974
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4201 - accuracy: 0.7973
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4193 - accuracy: 0.7977
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4197 - accuracy: 0.7974
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4189 - accuracy: 0.7980
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4190 - accuracy: 0.7976
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.7980
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.7973
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.7982
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4187 - accuracy: 0.7968
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4187 - accuracy: 0.7986
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4189 - accuracy: 0.7978
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4189 - accuracy: 0.7979
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4189 - accuracy: 0.7970
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4184 - accuracy: 0.7977
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.7995
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4182 - accuracy: 0.7971
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.7976
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4180 - accuracy: 0.7975
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4182 - accuracy: 0.7979
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4182 - accuracy: 0.7993
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.7989
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.7971
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4179 - accuracy: 0.7970
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4176 - accuracy: 0.7976
Epoch 81/100

804/804 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.7984
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4172 - accuracy: 0.7980
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.7990
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.7986
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4176 - accuracy: 0.7990
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4176 - accuracy: 0.7985
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.7992
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.7989
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4177 - accuracy: 0.7984
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4172 - accuracy: 0.7992
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7981
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7980
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4172 - accuracy: 0.7982
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.7983
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.7994
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.7987
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4176 - accuracy: 0.7982
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4168 - accuracy: 0.7993
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4167 - accuracy: 0.7991
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4166 - accuracy: 0.7983

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4624 - accuracy: 0.7794 - 491ms/epoch - 2ms/step
Loss: 0.4624404013156891, Accuracy: 0.7793586254119873

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_Optimization.h5")